# Database
DATABASE_URL=postgresql+asyncpg://imomtae:imomtae_dev@localhost:3501/imomtae

# Security
JWT_SECRET_KEY=your-secret-key-change-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Application
APP_ENV=development
DEBUG=true

# aws
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=
S3_BUCKET_ENABLED=false

# SMTP Email
SMTP_SERVER=smtps.hiworks.com
SMTP_PORT=587
HOST_EMAIL=
HOST_PASSWORD=

# LLM
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=

# Redis
REDIS_URL=redis://localhost:3505/0
REDIS_ENABLED=true
